body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("images/Background_Full.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}